body {
    margin: 0px;
}

main {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    background-color: #dddddd;
    text-align: center;
}

h1, h2 {
    background-color: #BFBFBF;
    font-family: "sans-serif";
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    padding: 6px;
    word-spacing: 30px;
    color: #1F477F;
}

h2 {
    font-size: 16px;
    color: #692425;

    margin-bottom: 15px;
}

span {
    font-weight: bold;
    font-style: italic;
}

ul, dl {
    font-family: "Helvetica", "sans-serif", "Calibri", "Arial";
    font-size: 12px;
    line-height: 18px;
}

ul {
    text-transform: uppercase;
}

footer {
    background-color: #1F497D;
    font-size: 20px;
    text-align: center;
    height: 26px;
}

footer img {
    height: 20px;
}

a, p {
    text-decoration: none;
    color: white;
    font-family: "arial";
    vertical-align: middle;
}