/*****************Seteo de valores generales*****************/
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/*****************Div descuento + header*****************/
.descuento, .locos{
    background-color: #1CD1B0;
    color: rgb(0,0,0);
    width: 100%;
    font-size: 15px;
    padding: 5px 0 5px 20px;
}
.sticky {
    background-color: #00669F;
    color: rgb(255,255,255);
    text-transform: capitalize;
    font-size: 29px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
h1 {
    font-weight: 400;
    display: inline-block;
    vertical-align: 25px;
    font-size: 40px;
    padding-left: 5px;
}
.logoTienda {
    margin: 5px;
}
.navegador {
    background-color: rgb(0,29,45);
    height: 45px;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(255,255,255);
    text-align: right;
    box-shadow: 0 10px 7px rgb(0 0 0 / 25%);
}
li {
    display: inline-block;
    padding: 0 15px 0 15px;
}
li>a {
    color:rgb(255,255,255);
    text-decoration: none;
    font-style: normal;
    font-size: 22px;
}
/*______Circulo "+" fijo a la derecha______*/
.circuloFijo {
    position: fixed;
    color:#00669F;
    font-size: 80px;
    right: 35px;
    top: calc(50% - 40px);
    transition: all 0,5s;
}
.circuloFijo:hover{
    color: #001D2D;
    transition-duration: 1s;
} 
/*______Contenedor/tarjeta______*/
.card {
    display: inline-block;
    padding: 0 15px 0 15px;
    background-position: top;
    background-color: #f3f3f3;
    border-radius: 40px 40px 0 0;
    height: 560px;
    margin: 6% 2.5%;
    position: relative;
    width: 350px;
    box-shadow: 0 10px 7px rgb(0 0 0 / 25%);
    transition: transform 0.5s;
}
.card:hover{
    transform: scale(1.2);
}
/*______Fondo tarjeta (portada)______*/
.FotoPortada {
    border-radius: 40px 40px 0 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
}
/*______Corazon (like)______*/
.corazon{
    position: absolute;
    color: #CC2424;
    font-size: 30px;
    left: 20px;
    top: 20px;
    z-index: 10;
}
/*______Cara superheroe______*/
.FotoPerfil {
    border-radius: 50%;
    height: 120px;
    left: 120px;
    position: absolute;
    top: 140px;
    width: 120px;
}
/*______Contenedor/escrito______*/
.ContenidoCard {
    position: absolute;
    top: 260px;
    margin: 5%;
}
/*______Nombre superheroe______*/
.Batman, .MujerMaravilla, .Superman, .HarleyQuinn {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
/*______Descripcion superheroe______*/
.descripcion {
    padding: 0 4px;
}
/*______"Boton" de ver mas info______*/
.boton {
    background-color: #00669F;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    text-transform: initial;    
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 3%;
    margin: 11% 5% 5% 5%;
    display: inline-block;
    width: 40%;
    position: absolute;
    left: 23%;
    bottom: 5px;
}
/*****************Footer*****************/
.PiePagina {
    background-color: #00669F;
    color: #fff;
    font-size: 20px;
    height: 60px;
    padding-top: 20px; 
    position: absolute;
    text-align: center;
    width: 100%;   
    font-weight: normal;
}
/*----------------------------------------LOGIN-----------------------------------------*/
input, .paisesRegister{
    display: inline-block;
    height: 60px;
    width: 620px;
    margin: 10px 0;
    font-size: 20px;
}
h2{
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #333333;
}
.formularioGral {
    display: inline-block;
    left: 33%;
    position: relative;
    width: 620px;
    padding: 200px 0;
}
.formularioGral form textarea {
        margin: 10px 0;
        width: 620px;
        height: 251px;
}
/*----------------------------------------BOTONES FORMULARIOS-----------------------------------------*/
.packBotones{
  display: flex;
  font-weight: 700;
  margin-top: 30px;
}
.formularioGral form p, .formulario p{
    position: relative;
    text-align: center;
    padding-top: 20px;
}
.formulario {
    font-family: 'Karla', sans-serif;
}
.box {
    border: 1.53407px solid #000000;
}
.formularioGral form p a {
    text-decoration: none;
    color: rgb(0,102,159);
}
.botonForm {
    background-color: #1CD1B0;
    border: solid #1CD1B0 1px;
    color: #000000;
    text-transform: capitalize;
    border-radius: 30px;
    font-weight: 700; 
}
.aniadirFormulario {
    border-radius: 23px;
    width: 466px;
    height: 70px;
    position: relative;
    left:20%;
    font-size: 30px;
    padding: 5px 0;
}
.registrarRegister:hover,.enviarContacto:hover,.entrarLogin:hover,.aniadirFormulario:hover{
    background-color: #001D2D;
    border: solid #001D2D 1px;
    color: #FFFFFF;
    transition-duration: 1.5s;
}
.resetContacto, .resetRegister{
    background-color: #888888;
    border: solid #888888 1px;
    color:#FFFFFF;
    margin-right: 5px;
}
/*---------------------------------------------------------------------------------*/
form {
    top:10px;
}
.form div {
    margin-top: 15px;
}
/*----------------------------------------DETAIL-----------------------------------------*/
.ContenidoCardDetalle {
    display: inline-block;
    background-position: top;
    background-color: #f3f3f3;
    border-radius: 40px;
    height: 480px;
    margin: 6% 2.5%;
    position: relative;
    width: 546px;
    box-shadow: 0 10px 7px rgb(0 0 0 / 25%);
    left: 33%;
}
.descripcion {
    padding: 0 15px 0 15px;
}
.Detail{
    width: 150px;
    height: 150px;
    top: -85px;
    left: 35%;
}
.Harley{
    color: #2c0187;
    font-size: 32px;
    font-weight: 400;
    padding-top: 71px;
    text-align: center;
    text-decoration: underline;
}
.cardDetalle {
    padding: 10% 0;
    background-image: url(./img/portada_harleyQuinn.png);
    height: 100%;
    background-size: cover;
}
span {
    color: #2c0187;
}
.negrita {
    font-weight: bold;
    font-style: italic;
}
.armasDetail {
    display: flex;
    justify-content: space-evenly;
}
.botonDetail{
    background-color: #2c0187;
    text-align: center;
    width: 546px;
    height: 87px;
    border-radius: 0px 0px 45px 45px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 44px 0 0 0;
}
.botonDetail a {
    color:#FFFFFF;
    text-decoration: none;
}
/*----------------------------------------FORMULARIO AÑADI TU SUPER-----------------------------------------*/
.formularioAgregar {
    background-color: #00669F;
    margin: 5% 25%;
    border-radius: 50px;
    align-items: center;
    color: #FBFFFD;
    font-family: 'Inter', sans-serif;
}
.formularioAgregar p {
    color: #FBFFFD;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
h3 {
    font-size: 40px;
    font-weight: 700;
    color: #FBFFFD;
    text-align: center;
}
.nombreFormulario, .dateFormulario, .textFormulario, .especieFormulario {
    width: 343px;
    height: 63px;
    border-radius: 15px;
}
.especieFormulario{
    margin: 10px 0;
}
.textFormulario {
    height: 307px;
}
.cuadradito, .circulito {
    width: 24px;
    height: 20px;
}
form label {
    font-size: 20px;
    text-align: left;
    display: block;
}
form input {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.cargarImagen {
    border: none;
    margin-top: 25px;
    color: transparent;
}
.columna {
    width: 50%;
    float: right;
}
h6 {
    font-size: 20px;
    font-weight: 300;
}
.combo label {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
.formuA {
    margin: 35px;
    padding: 0 5%;
}
